<div class="wrap container-fulid">
<p class="date">營業日期:2022-06-28</p>
<div class="table-wrap">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column display none-->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <ng-container matColumnDef="No">
    <th class="th-header" mat-header-cell *matHeaderCellDef [attr.rowspan]="2">銀行代號</th>
  </ng-container>

    <!-- Position Column display none-->
    <ng-container matColumnDef="position2">
      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="No2">
      <th class="th-header" mat-header-cell *matHeaderCellDef [attr.rowspan]="2">系統狀態</th>
    </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> 成功交易筆數 </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> 失敗交易筆數 </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>
  <!-- Header row first group -->

  <!-- Header row second group -->
  <ng-container matColumnDef="header-row-second-group">
    <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> 發動行 </th>
  </ng-container>


  <!-- Name Column -->
  <ng-container matColumnDef="name2">
    <th mat-header-cell *matHeaderCellDef> 成功交易筆數 </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight2">
    <th mat-header-cell *matHeaderCellDef> 失敗交易筆數 </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>
  <!-- Header row first group -->

  <!-- Header row second group -->
  <ng-container matColumnDef="header-row-second-group2">
    <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> 扣款行 </th>
  </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name3">
      <th mat-header-cell *matHeaderCellDef> 成功交易筆數 </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight3">
      <th mat-header-cell *matHeaderCellDef> 失敗交易筆數 </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
    <!-- Header row first group -->

    <!-- Header row second group -->
    <ng-container matColumnDef="header-row-second-group3">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> 入帳行 </th>
    </ng-container>

      <!-- Position Column display none-->
  <ng-container matColumnDef="position3">
    <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <ng-container matColumnDef="No3">
    <th class="th-header" mat-header-cell *matHeaderCellDef [attr.rowspan]="2">逾時交易筆數</th>
  </ng-container>

    <!-- Position Column display none-->
    <ng-container matColumnDef="position4">
      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="No4">
      <th class="th-header" mat-header-cell *matHeaderCellDef [attr.rowspan]="2">未完成交易筆數</th>
    </ng-container>

      <!-- Position Column display none-->
  <ng-container matColumnDef="position5">
    <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <ng-container matColumnDef="No5">
    <th class="th-header" mat-header-cell *matHeaderCellDef [attr.rowspan]="2">沖正交易筆數</th>
  </ng-container>

    <!-- Position Column display none-->
    <ng-container matColumnDef="position6">
      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="No6">
      <th class="th-header" mat-header-cell *matHeaderCellDef [attr.rowspan]="2">待處理交易筆數</th>
    </ng-container>

      <!-- Position Column display none-->
  <ng-container matColumnDef="position7">
    <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <ng-container matColumnDef="No7">
    <th class="th-header" mat-header-cell *matHeaderCellDef [attr.rowspan]="2">總筆數</th>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="['No','No2', 'header-row-second-group','header-row-second-group2','header-row-second-group3','No3','No4','No5','No6','No7']"></tr>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>



<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
</div>

