.detail-board {
  background-color: white;
  border-radius: 20px 0 20px 0;
  border: 3px solid #FFC107;
}

.detail-area {
  width: 70%;
}

.detail-chart {
  width: 30%;
  border-left: 1px solid rgb(161, 161, 161);
  margin: 0 auto;
}

.color-box {
  width: 15px;
  height: 15px;
  background-color: #F78EBD;
}

.chart-content {
  width: 40%;
  /* border: 1px solid red; */
}

.days-button {
  border-radius: 20px 0  0 20px;
  width: fit-content;
  height: 30px;
  border: none;
  /* line-height: 30px; */
}

.days-button:last-child {
  border-radius: 0 20px 20px 0;
}
