<div class="wrap container-fulid">
  <p class="date">營業日期:2022-06-28</p>
  <div class="table-wrap">
    <div class="table-title d-inline-flex align-items-center">
      <p class="mr-2">查詢結果</p>
      <button class="mr-2">2022-06-28 結算階段-02</button>
      <button class="mr-2">2022-06-28 結算階段-02</button>
    </div>
    <div class="table-title d-inline-flex align-items-center">
      <p class="mr-2" >剩餘<span class="text-danger">{{secound}}</span>秒自動重載</p>
      <button (click)="reload()" >重載</button>
    </div>

    <div class="table-wrap2">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column display none-->
    <ng-container matColumnDef="rowspan1">
      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> 銀行代號 </th>
      <td mat-cell *matCellDef="let element"> {{element.bank}} </td>
    </ng-container>

    <ng-container matColumnDef="No">
      <th class="th-header" mat-header-cell *matHeaderCellDef [attr.rowspan]="2">銀行代號</th>
    </ng-container>

      <!-- Position Column display none-->
      <ng-container matColumnDef="rowspan2">
        <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> 系統狀態 </th>
        <td mat-cell *matCellDef="let element" #status> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="No2">
        <th class="th-header" mat-header-cell *matHeaderCellDef [attr.rowspan]="2">系統狀態</th>
      </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> 成功交易筆數 </th>
      <td class="text-right" mat-cell *matCellDef="let element"> {{element.bank1.successCounts}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> 失敗交易筆數 </th>
      <td class="text-right" mat-cell *matCellDef="let element"> {{element.bank1.errorCounts}} </td>
    </ng-container>
    <!-- Header row first group -->

    <!-- Header row second group -->
    <ng-container matColumnDef="header-row-second-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> 發動行 </th>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="name2">
      <th mat-header-cell *matHeaderCellDef> 成功交易筆數 </th>
      <td class="text-right" mat-cell *matCellDef="let element"> {{element.bank2.successCounts}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight2">
      <th mat-header-cell *matHeaderCellDef> 失敗交易筆數 </th>
      <td class="text-right" mat-cell *matCellDef="let element"> {{element.bank2.errorCounts}} </td>
    </ng-container>
    <!-- Header row first group -->

    <!-- Header row second group -->
    <ng-container matColumnDef="header-row-second-group2">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> 扣款行 </th>
    </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name3">
        <th mat-header-cell *matHeaderCellDef> 成功交易筆數 </th>
        <td class="text-right" mat-cell *matCellDef="let element"> {{element.bank3.successCounts}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight3">
        <th mat-header-cell *matHeaderCellDef> 失敗交易筆數 </th>
        <td class="text-right" mat-cell *matCellDef="let element"> {{element.bank3.errorCounts}} </td>
      </ng-container>
      <!-- Header row first group -->

      <!-- Header row second group -->
      <ng-container matColumnDef="header-row-second-group3">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> 入帳行 </th>
      </ng-container>

        <!-- Position Column display none-->
    <ng-container matColumnDef="rowspan3">
      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> No. </th>
      <td class="text-right" mat-cell *matCellDef="let element"> {{element.timeoutCounts}} </td>
    </ng-container>

    <ng-container matColumnDef="No3">
      <th class="th-header" mat-header-cell *matHeaderCellDef [attr.rowspan]="2">逾時交易筆數</th>
    </ng-container>

      <!-- Position Column display none-->
      <ng-container matColumnDef="rowspan4">
        <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> No. </th>
        <td class="text-right" mat-cell *matCellDef="let element"> {{element.undoneCounts}} </td>
      </ng-container>

      <ng-container matColumnDef="No4">
        <th class="th-header" mat-header-cell *matHeaderCellDef [attr.rowspan]="2">未完成交易筆數</th>
      </ng-container>

        <!-- Position Column display none-->
    <ng-container matColumnDef="rowspan5">
      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> No. </th>
      <td class="text-right" mat-cell *matCellDef="let element"> {{element.justifyCounts}} </td>
    </ng-container>

    <ng-container matColumnDef="No5">
      <th class="th-header" mat-header-cell *matHeaderCellDef [attr.rowspan]="2">沖正交易筆數</th>
    </ng-container>

      <!-- Position Column display none-->
      <ng-container matColumnDef="rowspan6">
        <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> No. </th>
        <td class="text-right" mat-cell *matCellDef="let element"> {{element.processedCounts}} </td>
      </ng-container>

      <ng-container matColumnDef="No6">
        <th class="th-header" mat-header-cell *matHeaderCellDef [attr.rowspan]="2">待處理交易筆數</th>
      </ng-container>

        <!-- Position Column display none-->
    <ng-container matColumnDef="rowspan7">
      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> No. </th>
      <td class="text-right" mat-cell *matCellDef="let element"> {{element.allCounts}} </td>
    </ng-container>

    <ng-container matColumnDef="No7">
      <th class="th-header" mat-header-cell *matHeaderCellDef [attr.rowspan]="2">總筆數</th>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="['No','No2', 'header-row-second-group','header-row-second-group2','header-row-second-group3','No3','No4','No5','No6','No7']"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>

  </div>
  <div class="set-wrap">
    <p class="set-title">參數設定</p>
    <div class="set-content">
      <label for="">未完成警示設定&nbsp;:&nbsp;</label>
      <input type="text">筆
    </div>
    <div class="set-content">
      <label for="">逾時警示設定&nbsp;:&nbsp;</label>
      <input type="text">筆
    </div>
  </div>

  <!-- <fieldset>
    <legend class="w-100 d-flex justify-content-between">
      <div>
      <p class="d-inline">查詢結果</p>
      <button >2022-06-28 結算階段-02</button>
      <button >2022-06-28 結算階段-02</button>
    </div>
      <div>
      <p class="d-inline mr-2">剩餘34秒自動重載</p>
      <button >重載</button>
    </div>
    </legend>

  </fieldset> -->


  </div>


